<header id="top-head" class="uk-position-fixed">
  <div class="uk-container uk-container-expand uk-background-primary">
    <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
      <div class="uk-navbar-left">
        <div class="uk-navbar-item uk-hidden@m">
          <%# <a class="uk-logo" href="#"><img class="custom-logo" src="img/dashboard-logo-white.svg" alt=""></a> %>
          <%# <a class="uk-logo" href="#"><%= image_pack_tag "dashboard-logo-white" %1></a> %>
        </div>
        <div class="uk-navbar-item uk-visible@s">
          <form action="dashboard.html" class="uk-search uk-search-default">
            <span data-uk-search-icon></span>
            <input class="uk-search-input search-field" type="search" placeholder="Search">
          </form>
        </div>
      </div>
      <%= render 'admin/shared/menues/header_right_nav' %>
    </nav>
  </div>
</header>

