#site_logo {
  display: none;
}
#site_favicon, .site_favicon {
  display: none;
}
.branding-img {
  margin-right: 10px;
}

.uk-form-controls {
  .uk-first-coloumn {
  }
}
div.uk-form-controls{
  div.uk-first-column {
    padding-left: 0;
  }
}

#content {
  ul.pz-tab {
    margin-bottom: 0;
  }
}

#settings-forms-con {
  .pz-site-blog-label {
    display: flex;
    font-size: .87rem;   
    .uk-checkbox {
      margin-right: 10px;
    }
  }
}

