#site_logo {
  display: none;
}
#site_favicon, .site_favicon {
  display: none;
}
.branding-img {
  margin-right: 10px;
}

.uk-form-controls {
  .uk-first-coloumn {
  }
}
div.uk-form-controls{
  div.uk-first-column {
    padding-left: 0;
  }
}

#content {
  ul.pz-tab {
    margin-bottom: 0;
  }
}

#settings-forms-con {
  .pz-site-blog-label {
    .site_blog_status {
    }
    display: flex;
    font-size: .8rem;   
    align-items: baseline;
    .radio, .uk-checkbox {
      margin-right: 10px;
      font-size: .9rem;   
      .uk-radio {
        margin-right: 5px;
      }
    }
  }
}

