<header id="header" style="background-color: #fff;" data-uk-sticky="show-on-up: true; animation: uk-animation-fade; media: @l">
  <div class="uk-container">
    <nav id="navbar" data-uk-navbar="mode: click;">
      <div class="uk-navbar-left nav-overlay uk-visible@m">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#" title="Subscribe">Subscribe</a>
          </li>
          <% if reader_signed_in? %>
            <li><a href= <%= destroy_user_session_path %> data-uk-icon="icon:  sign-out" title="Sign Out" data-method="delete" ></a></li>
          <% end %>
          <li>
            <a href="#" title="Sign Up">Sign Up</a>
          </li>
        </ul>
      </div>
      <div class="pz-navbar-center uk-navbar-center nav-overlay">
        <a class="uk-navbar-item uk-logo" href="#" title="Logo"><img src="img/n-logo.png" alt="Logo"></a>
      </div>
      <div class="uk-navbar-right nav-overlay">
        <a class="uk-navbar-toggle uk-visible@m" data-uk-search-icon data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
        <div class="uk-navbar-item">
          <a class="uk-visible@s" style="margin-right: 4px" href="#" data-uk-icon="facebook"></a>
          <a class="uk-visible@s" style="margin-right: 4px" href="#" data-uk-icon="twitter"></a>
          <a class="uk-visible@s" style="margin-right: 4px" href="#" data-uk-icon="instagram"></a>
          <a class="uk-navbar-toggle uk-hidden@m" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
        </div>

      </div>
      <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
        <div class="uk-navbar-item uk-width-expand">
          <form class="uk-search uk-search-navbar uk-width-1-1">
            <input class="uk-search-input" type="search" placeholder="Search...">
          </form>
        </div>
        <a class="uk-navbar-toggle" data-uk-close data-uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
      </div>
    </nav>
  </div>
</header>
