<div class="uk-container">
  <nav class="nav-scroll">
    <ul class="uk-subnav uk-flex uk-flex-between uk-flex-nowrap">
      <li class="uk-active"><a href="#">World</a></li>
      <li><a href="#">Politics</a></li>
      <li><a href="#">Technology</a></li>
      <li><a href="#">Trends</a></li>
      <li><a href="#">Social Media</a></li>
      <li><a href="#">People</a></li>
      <li><a href="#">Science</a></li>
      <li><a href="#">Opinion</a></li>
      <li><a href="#">Culture</a></li>
      <li><a href="#">Community</a></li>
    </ul>
  </nav>
</div>
