<div class="uk-container">
  <nav class="nav-scroll">
    <ul #="main-menu" class="uk-subnav uk-flex uk-flex-center uk-flex-nowrap">
      <% @roots_pages.each do |page| %>
        <li>
          <%= link_to page.name, page, class: ( "uk-active" if @page == page ) %>
          <% if page.has_children? %>
            <div uk-dropdown>
                <%= render "shared/submenu_pages", pages: page.children if page.has_children? %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
