<%= content_for :back_to_admin_content_form do %>
  <li class="uk-active uk-visible@m"><a href= <%= edit_admin_page_path(@page.permalink) %> data-uk-icon="home" ></a></li>
<% end %>
<%= @page.content.html_safe %>
