<div id="gallery-modal" class="pz-modal" >
  <div class="pz-modal-content">
    <div class="pz-modal-header">
      <div class="uk-flex uk-flex-between">
        <span class="uk-text-lead"><%= @title if @title %></span>
        <ul class="uk-iconnav">
          <span uk-icon="close" class="pz-modal-close-btn"></span>
        </ul>
      </div>
    </div>
    <div class="pz-modal-body">
      <div class="uk-card-body uk-margin-left uk-margin-right">
        <section class="uk-section uk-section-small uk-section-default uk-padding-remove-bottom">
          <div class="uk-container uk-container-expand uk-margin-medium-bottom">
            <div class="uk-grid-divider uk-grid-small" uk-grid>
              <div class="uk-width-expand@m">
                <section id="admin_media_wrapper-container" class="uk-section uk-section-small uk-section-default uk-padding-remove-bottom">
                  <div class="uk-container uk-container-expand uk-margin-large-bottom">
                    <div id="admin__media_target-container" class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l  uk-child-width-1-5@xl uk-grid-match js-filter" data-uk-grid="masonry: true" data-uk-sortable="handle: .drag-icon">
                      <%= render "media", all_media: @all_media %>
                    </div>
                  </div>
                </section>
              </div>
              <div class="uk-width-1-3@m">
                <div class="uk-width-large admin__right_column" >
                  <ul uk-tab uk-switcher>
                    <li class="uk-active"><a href="#"><div class="uk-card-title"><span uk-icon="info"></span>Media Info</div></a></li>
                    <li><a href="#"><div class="uk-card-title"><span uk-icon="cog"></span>Upload Media</div></a></li>
                  </ul>
                  <ul class="uk-switcher">
                    <li>
                      <div class="pz-card-wrapper">
                        <div class="uk-card uk-card-default uk-padding-remove uk-card-body">
                          <div id="media-metadata">
                            <div id="media-metadata">
                              <span class="uk-text-meta">No selected attachemnt.</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="pz-card-wrapper">
                        <div class="uk-card uk-card-default uk-padding-remove uk-card-body">
                          <div class="js-upload uk-placeholder uk-text-center">
                            <span uk-icon="icon: cloud-upload"></span>
                            <span class="uk-text-middle">Attach binaries by dropping them here or</span>
                            <div uk-form-custom>
                              <input type="file" multiple>
                              <span class="uk-link">selecting one</span>
                            </div>
                          </div>
                          <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="pz-modal-footer">
      <div class="uk-flex  uk-flex-right">
        <button id="insert-media-button" class="uk-button uk-button-primary">Insert into Post</button>
      </div>
    </div>
  </div>
</div>

