
  <div id="attachment-modal" class="pz-modal" >
    <div class="pz-modal-content">
      <span class="pz-modal-close-btn">&times;</span>
      <div>
        <%= image_tag media.attachment, class: "lazy pz-attachment-image" if media.attachment.attached? %>
      </div>
    </div>
  </div>
