
  <div id="attachment-modal" class="pz-modal" >
    <div class="pz-modal-content">
      <span class="pz-close-modal-btn" pz-modal-close >&times;</span>
      <%= image_tag media.attachment, class: "lazy" if media.attachment.attached? %>
    </div>
  </div>
