
  <div id="attachment-modal" class="pz-modal">
    <div class="pz-modal-content">
      <span id="close-modal-btn" class="pz-close-modal-btn">&times;</span>
      <%= image_tag media.attachment, class: "lazy" if media.attachment.attached? %>
    </div>
  </div>
