<div id="admin__category_modal" class="pz-modal" >
  <div class="pz-modal-content">
    <div class="pz-modal-header">
      <div class="uk-flex uk-flex-between">
        <span class="uk-text-lead">Category Edit: <%= admin_category.edit %></span>
        <ul class="uk-iconnav">
          <span uk-icon="close" class="pz-modal-close-btn"></span>
        </ul>
      </div>
    </div>
    <div class="pz-modal-body">
      <div class="uk-flex uk-flex-center uk-flex-column uk-flex-middle">
      </div>
    </div>
    <div class="pz-modal-footer">
      <div class="uk-flex uk-flex-between">
        <button id="save-image" class="uk-button uk-button-primary" type="button">Save</button>
      </div>
    </div>
  </div>
</div>
