<%= form_with model: [commentable, Comment.new], local: true do |form| %>
  <fieldset class="uk-fieldset">
    <div class="uk-margin">
      <%= form.text_area :body, placeholder: "Add a commnet", class: "uk-textarea" %>
    </div>
    <div class="uk-margin">
      <%= form.submit class: "uk-button uk-button-default uk-button-small" %>
    </div>
  </fieldset>
<% end %>
