<div id="attachment-modal" class="pz-modal" >
  <div class="pz-modal-content">
    <div class="pz-modal-header">
      <div class="uk-flex uk-flex-between">
        <span class="uk-text-lead">Group Edit: <%= group.name %></span>
        <ul class="uk-iconnav">
          <span uk-icon="close" class="pz-modal-close-btn"></span>
        </ul>
      </div>
    </div>
    <div class="uk-card-body uk-margin-left uk-margin-right">
      
    </div>
    <div class="pz-modal-footer">
      
    </div>
  </div>
</div>
