.error_notification, .error { color: red; }

#content > div > div > div.uk-width-medium.admin__right_column > div.uk-card.uk-card-large.uk-card-header.uk-card-default {
  padding: 36px;
}

.uk-card-media {
  // cursor: pointer;
}
#content > div > div > div.uk-width-large.admin__right_column > div:nth-child(2) {
  // margin-top: 30px;
}

.uk-card-title {
  font-size: 18px;
  span.uk-icon {
    margin-right: 20px;
    top: -1px;
    position: relative;

  }
}

.uk-overlay {
  padding: 15px 20px;
}

.show-modal {
  padding: 0;
}

.uk-overlay-primary {
    background: rgba(0,0,0,.5)
}

.flatpickr-day {
  border-radius: 0;
  &.selected {
    background-color: #1e87f0;
    border-color: #1e87f0;
  }
}

.pz-d_none {
  display: none;
}

#publishable_groups_table {
  margin-top: 40px;
  padding-top: 40px;
}

#publishable_group_description {
  height: 100px;
}
