
.error_notification, .error { color: red; }
#content > div > div > div.uk-width-medium.admin__right_column > div.uk-card.uk-card-large.uk-card-header.uk-card-default {
  padding: 36px;
}
.uk-card-title {
  font-size: 18px;
  span.uk-icon {
    margin-right: 20px;
    top: -1px;
    position: relative;

  }
}
