.pz-modal {
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.pz-modal-content {
  background-color: #fff;
  margin: 3% auto;
  // padding: 20px;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 
  0 7px 20px 0 rgba(0,0,0,0.17);
  .uk-card-body > div {
    width: 100%;
  }
}

#gallery-modal {
  .pz-modal-content {
    width: 80%;
    .pz-modal-body {
      padding: 0;
      margin: 0px 0;
      background-color: #fff;
    }
  }
}

.admin__media_target-container {
  overflow: auto;
  height: 60vh;
}

.pz-modal-header {
  padding: 20px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.pz-modal-body {
  padding: 30px 0;
}

.pz-modal-footer {
  padding: 30px 35px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}

.pz-modal-close-btn {
  color: #222A30;
  float: right;
  font-size: 30px;
  &:hover, &:focus {
    color: lighten(#222A30, 20%);
    text-decoration: none;
    cursor: pointer;
  }
}
#group-modal {
 div > div.uk-card-body.uk-margin-left.uk-margin-right > div > div:nth-child(2) > div {
   margin-top: 5px;
 }
}
