<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="album"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
        </div>
      </div>
    </div>
    <div class="uk-card-body" id="admin__category_target-container">
      <%= render "category", admin_categories: @admin_categories %>
    </div>
  </div>
</div>

<%= content_for :right_column  do %>
  <div class="uk-width-large admin__right_column" >
    <div class="uk-card uk-card-small uk-card-header uk-card-default ">
      <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span>New Category</div></div>
    </div>
    <div class="uk-card uk-card-default uk-card-body">
      <%= render 'form' %>
    </div>
  </div>
<% end %>

<div id="admin__media_modal-taarget-container" class="pz-modal-container"></div>
