<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="users"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
          <a href= <%= admin_users_path %> class="uk-icon-link" title="Back" data-uk-tooltip data-uk-icon="icon: arrow-left"></a>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <%= render 'form', admin_user: @admin_user %>
    </div>
  </div>
</div>

