<div class="uk-container">
  <nav class="nav-scroll">
    <ul #="main-menu" class="uk-subnav uk-flex uk-flex-center uk-flex-nowrap">
      <% @root_pages.each do |page| %>
        <% if page.visible? %>
          <li>
            <%= link_to page.title, page_path(page), class: ( "uk-active" if @publishable.becomes(Page) == page ) %>
            <% if page.has_children?  %>
              <% unless page.is_blog? %>
                <div uk-dropdown>
                  <%= render "front/themes/shared/submenu_pages", pages: page.children %>
                </div>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>


