<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <%= yield :back_to_admin_content_form %>
      <li class="uk-active uk-visible@m"><a href="" data-uk-icon="sign-out"></a></li>
    </ul>
    <div>
</nav>
