<ul class="uk-nav uk-dropdown-nav">
  <% pages.each do |subpage| %>
    <% if subpage.visible? %>
      <li>
        <%= link_to subpage.title, subpage.permalink, class: "submenu-link" %>
        <%= render "front/themes/shared/submenu_pages", pages: subpage.children if (subpage.has_children? && !subpage.is_blog?) %>
      </li>
    <% end %>
  <% end %>
</ul>
