<div class="uk-width-1-1@s uk-width-1-1@l uk-width-1-1@xl">
  <div class="uk-card uk-card-default uk-card-small">
    <div class="uk-card-header">
      <div class="uk-grid uk-grid-small">
        <div class="uk-width-auto"><div class="uk-card-title"><span uk-icon="cog"></span><%= @title if @title %></div></div>
        <div class="uk-width-expand uk-text-right panel-icons">
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <ul class="pz-tab">
        <li>
           <%= link_to settings_forms_admin_sites_path(settings_form: "general"), remote: true, id: "settings-form-general", class: "pz-active pz-tab-link"   do %>
             <span>General<span>
           <% end %> 
        </li>
        <li>
           <%= link_to settings_forms_admin_sites_path(settings_form: "blog"), remote: true, id: "settings-form-blog", class: "pz-tab-link"  do %>
             <span>Blog<span>
           <% end %> 
        </li>
     </ul>  
     <div id="settings-forms-con">
       <%= render 'general_settings_form' %>
     </div>
    </div>
  </div>
</div>

